@import "../../app.scss";

.navbar {
  display: flex;
  height: 80px;
  position: relative; // Add relative positioning to navbar

  .content {
    flex: 1; // Allow content to take up remaining width
    position: relative; // For absolute positioning of child elements
    display: flex;
    align-items: center; // Center content vertically
  }

  .wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); // Center vertically
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 15%; // Offsets content to 25% from each side

    span {
      font-weight: bold;
    }

    .social {
      display: flex;
      gap: 20px;

      img {
        width: 18px;
        height: 18px;
      }
    }
  }
}
